html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #141414;
}

* {
    font-family: "Courier New";
    color: #FAFAFA;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.c-main {
    width: 600px;
}

header {
    margin-bottom: 40px;
}

.c-btn {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    border: 0;
    opacity: 0.4;
    color: #141414;
    font-weight: 600;
    cursor: pointer;
}

.c-btn.-active {
    opacity: 1;
}

.c-btn.-doAction {
    background-color: rgb(235,255,57);
    margin-top: 40px;
    opacity: 1;
}

span {
    color: rgb(235,255,57);
    font-weight: 700;
}